.peep {
	text-align:center;
}

.peep_image img {
	width:100px;
}

.clock {
	margin-top:10px;
	margin-bottom:10px;
}

.row{
	/*margin-top:20px;*/
}

/* Countdown */
#countdown p {
  display: inline-block;
  padding: 5px;
  background: #FFA500;
  margin: 0 0 20px;
}

.countdown_text {
	font-weight:bold;
}